{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(newTaskForm) }}
    {{ form_widget(newTaskForm) }}
    {{ form_end(newTaskForm) }}

    {% for date, tasksThisDay in tasks %}
        <p>{{ date|date('D, jS M') }}</p>
        <ul>
            {% for task in tasksThisDay %}
                <li>{{ task.body }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}
