{% extends 'base.html.twig' %}

{% block body %}


  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">

      <h1>ToBeDone</h1>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>Username: {{ app.user.username }}</p>
      {% endif %}

      <div class="new-task-form">
        {{ form_start(newTaskForm, {'attr': {'class': 'form-inline'}}) }}
        <div class="form-group">
          {{ form_errors(newTaskForm) }}
          {{ form_label(newTaskForm.body) }}
          {{ form_widget(newTaskForm.body, {'attr': {'class': 'form-control', 'size': '80'}}) }}
        </div>
        <div class="form-group">
          {{ form_row(newTaskForm.save, {'attr': {'class': 'btn btn-default'}}) }}
        </div>
        {{ form_end(newTaskForm) }}
      </div>

      {% for date, tasksThisDay in tasks %}
        <div class="day-tasks">
          <p class="date-label pull-right">{{ date|date('D, jS M') }}</p>
          <ul>
            {% for task in tasksThisDay %}
                {% if task.isDone %}
                  <li class="task-done">{{ task.body }}</li>
                {% else %}
                  <form action="{{ path('to_be_done_set_done') }}" method="post">
                    <input type="hidden" value="{{ task.id }}" name="task_id">
                    <li class="task-not-done">
                      <button type="submit" class="link-button">{{ task.body }}</button>
                    </li>
                  </form>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    </div>

    <div class="col-md-2"></div>
  </div>

{% endblock %}
